.side-nav{
	padding-top: 60px;
	ul{
		> li{
			padding-left: 20px;
			&.link{
				padding: 0;
				a{
					color: #131313;
					font-size: 24px;
				}
			}
		}
		li{
			color: #131313;
			font-size: 24px;
		}
		ul{
			> li{
				padding-left: 0;
			}
		}
	}
}