.velkoplosny-tisk{
	width: 100%;
	background-image: url('../imgs/velkoplosny-tisk.jpg');
	//background-size: cover;
	background-position: 50% 0;
	background-attachment: fixed;
	padding-top: 110px;
	padding-bottom: 100px;
	h1{
		color: #f9760c;
	}
	p{
		font-weight: 300;
		font-size: 36px;
		color: #fff;
	}
	&__subheader{
		padding: 40px 0;
		h2{
			font-size: 36px;

		}
		ul{
			padding-left: 25px;
			li{
				list-style-image: url('../imgs/icons/check-box.png');
				font-size: 22px;
				margin-bottom: 12px;
			}
		}
	}
}


section{
	padding: 20px 0 50px 0;
	p{
		font-size: 22px;
	}
	h2{
		color: #f9760c;
		font-size: 40px;
	}
	h3{
		font-weight: 600;
		font-size: 28px;
	}
	&.odd{
		width: 100%;
		background-color: #ebebeb;
		-webkit-box-shadow: inset 0px 5px 21px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: inset 0px 5px 21px 0px rgba(0,0,0,0.16);
		box-shadow: inset 0px 5px 21px 0px rgba(0,0,0,0.16);
	}
}


.reference-swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    .swiper-pagination-progressbar{
    	background-color: #f9760c;
    }
    .swiper-slide {
	    overflow: hidden;
	    position: relative;
	    background-color: rgba(0,0,0, 0.5);
	    img{
	    	position: absolute;
	    	left: 50%;
	    	top: 50%;
	    	width: auto;
	    	max-height: 100%;
	    	height: initial;
	    	transform: translate(-50%, -50%);
	    }
	    .caption{
	    	width: 100%;
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	background-color: rgba(0, 0, 0, 0.6);
	    	p{
	    		color: white;
	    		text-align: center;
	    		font-size: 14px;
	    	}
	    }
	}
	&.gallery-top {
	    height: 300px;
	    width: 100%;
	}
}	


.offer-form{
	width: 100%;
	background: url('../imgs/contact-form-bg.jpg');
	background-position: 50% 0;
	background-attachment: fixed;
	padding-bottom: 40px; 
	.input-field{
		padding: 0;
	}
	input{
		border-bottom: 1px solid #fff;
		color: #fff;
		background: rgba(0,0,0,0.3);
		padding: 0 15px;
	}
	label{
		color: #fff;
	}
	textarea{
		border-bottom: 1px solid #fff;
		color: #fff;
		background: rgba(0,0,0,0.3);
		padding: 0 15px;
	}
}