.skills{
  background: #ececec;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ececec+50,1eb8c6+50,1eb8c6+100 */
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(left, #ececec 0%, #ececec 50%, #1eb8c6 50%, #1eb8c6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ececec 0%,#ececec 50%,#1eb8c6 50%,#1eb8c6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ececec 0%,#ececec 50%,#1eb8c6 50%,#1eb8c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#1eb8c6',GradientType=1 ); /* IE6-9 */
  .bg{
    background-image: url('../imgs/title-bg.jpg');
    background-repeat: repeat-x;
  }
  .title-bg{
    background-image: url('../imgs/white-title-bg.jpg');
    background-size: 50% 65px;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  h2{
    margin: 0;
    font-size: 34px;
    color: #fff;
    padding: 14px 0;
    max-height: 65px;
  }
  .goals{
    background: #1eb8c6;
    padding: 0 0 50px 0;
    h2{
      color: #10939f;
      background: #fff;
      margin-bottom: 50px;
    }
    p{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color: #202e43;
      padding-left: 40px;
      margin: 27px 0 0 0;
      svg{
        margin-right: 10px;
      }
    }
  }
}






$animation-delay: .5s;

.skills-bar-container{
  position: relative;
  width: 100%;
  list-style:none;
  padding-right: 30px;
  li{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    .progressbar-title{
      p{
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
        color: #12121b;
      }
      .percent{
        position: absolute;
      }
    }// end progressbar-title

    .bar-container{
      background: #555;
      position: relative;
      width: 100%;
      height: 2px;
      margin-top: 5px;
      display: block;


      .progressbar{
        position:absolute;
        width:0%;
        height: 100%;
        background-color: #1eb8c6;

        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      .progress-html{
        -webkit-animation-name: progress-html;
        animation-name: progress-html;
        -webkit-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
      }

      .progress-css{
        -webkit-animation-name: progress-css;
        animation-name: progress-css;
        -webkit-animation-delay: $animation-delay*2;
        animation-delay: $animation-delay*2;
      }

      .progress-bootstrap{
        -webkit-animation-name: progress-bootstrap;
        animation-name: progress-bootstrap;
        -webkit-animation-delay:$animation-delay*3;
        animation-delay: $animation-delay*3;
      }

      .progress-javascript{
        -webkit-animation-name: progress-javascript;
        animation-name: progress-javascript;
        -webkit-animation-delay:$animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      .progress-photoshop{
        -webkit-animation-name: progress-photoshop;
        animation-name: progress-photoshop;
        -webkit-animation-delay:$animation-delay*5;
        animation-delay: $animation-delay*5;
      }

      .progress-wordpress{
        -webkit-animation-name: progress-wordpress;
        animation-name: progress-wordpress;
        -webkit-animation-delay:$animation-delay*6;
        animation-delay: $animation-delay*6;
      }

      .progress-git{
        -webkit-animation-name: progress-git;
        animation-name: progress-git;
        -webkit-animation-delay:$animation-delay*7;
        animation-delay: $animation-delay*7;
      }

      .progress-php{
        -webkit-animation-name: progress-php;
        animation-name: progress-php;
        -webkit-animation-delay: $animation-delay*8;
        animation-delay: $animation-delay*8;
      }
    }// end bar-container
  }
}



@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-bootstrap{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-photoshop{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-git{0%{width: 0%;} 100%{ width: 40%;}}
@-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 35%;}}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-bootstrap{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-photoshop{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-git{0%{width: 0%;} 100%{ width: 40%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 35%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-bootstrap{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-photoshop{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-git{0%{width: 0%;} 100%{ width: 40%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 35%;}}
